version: '3.8'

services:
  rabbitmq:
    container_name: rabbitmq-prod
    hostname: rabbitmq_host-prod

  nestjs:
    build:
      target: production
    image: nestjs-api-image-prod:latest #Assigns name to the resulting image
    container_name: nestjs-prod
    # expose: # use to expose the port internally to the nginx server if added 
    #   - "3000"
    ports:
      - "3333:3333" # for now as i run the prod locally also
    command: [ "node", "dist/main" ] # Overrides any base or dev command
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.5'
    environment:
      NODE_ENV: production # use Docker Secrets
